
//Main Styling
* {
	box-sizing: border-box;
}

html{
	font-size:1.25em;
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

body{
	font-weight:400;
	line-height:1.45;
	background-color: $background-color-main;
	font-family: "inconsolatamedium", times;
	min-height:100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height:100vh;
	@include landscape() {
		display:block;
	}
}




h1, h2, h3, h4, h5, h6{
	font-family: "AvenirNextLTW01-Medium", sans-serif;
	color: $brand-color-main;
}



h1{
	font-size:2em;
	margin:.67em 0
}
h2{
	margin:.83em 0
}
h3{
	font-size:1.17em;
	margin:1em 0
}
h4{
	font-size:1em;
	margin:1.33em 0
}
h5{
	font-size:.83em;
	margin:1.67em 0
}
h6{
	font-size:.67em;
	margin:2.33em 0
}







 #asterisk-design-element{
 	position:fixed;
 	bottom:-20%;
 	right:-23%;
 	height:20em;
 	width:20em;
 	z-index:-10;
 	// z-index:300;
 	transform:rotate(-20deg)}


