/*********************
BASE STYLING
*********************/

* {
  box-sizing: border-box;
}

html {
  font-size: 1.25em;
  font-size: 100%;
}

body {
  font-weight: 400;
  line-height: 1.45;
  background-color: $background-color-main;
  font-family: $brand-font;
  flex-direction: column;
  background-image: url(../assets/img/asterisk.svg);
  background-repeat: no-repeat; /* Prevent showing multiple background images */
  background-size: 83% 72%; /* Position the astricks */
  background-position: bottom -150% right -150%; /* Position the astricks */
  display: flex;
}

@include breakpoint(landscape) {
  body {
    justify-content: space-evenly; /* space out the video container from heading */
    background-size: 79% 61%; /* Position the astricks */
  }
}

@include breakpoint(portrait) {
  body {
    height: 100vh; /* ensure the astricks is at the actual bottom of the screen */
  }
}

.hidden{
  display:none !important;
}