/*********************
BASE STYLING
*********************/

* {
	box-sizing: border-box;
}

html{
	font-size:1.25em;
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

body{
	font-weight:400;
	line-height:1.45;
	background-color: $background-color-main;
	font-family: $brand-font;
	min-height:100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	height:100vh;
	@include breakpoint(md){
		display:block;
	}
}

// Asterisk in the page background
#asterisk-design-element{
	position:fixed;
	bottom:-20%;
	right:-23%;
	height:20em;
	width:20em;
	z-index:-10;
	transform:rotate(-20deg);
	@include breakpoint(md) {
		bottom: -10%;
		right: -12%;
		height:25em;
		width:25em;
	}
	@include breakpoint(lg) {
		bottom: -8%;
		right: -12%;
		height:30em;
		width:30em;
	}
}
