
//Video Styling 
.container {
	//to position in the middle of screen on mobile
	// position: fixed;
	position:relative;
	// top: 50%;
	// left: 50%;
	width:100%;
	// padding-top:3vh;// causes problems with canvas positioning
	@include breakpoint(xl) {
		position:relative;
		margin: 0 auto;
		z-index:10;
		top: 100px;
		transition: all .5s ease;
		top: 50%;
		left:0;
		transform: translate(0,-50%);
	}

}
.container.hide{
		@include breakpoint(lg) {
	transition: all .5s ease;
	// top: 50%;
	// transform: translate(0,-50%);
}
}


.plyr {
	max-height:100vh;
}

video{
	width:100%;
}

.plyr__control--overlaid{
	background: $brand-color-main;
	z-index:500;
}
.plyr__control--overlaid:hover{
	background: $brand-color-hover;

}
.plyr__controls {
	z-index:500 !important;
}
.plyr__menu__container{
	z-index:500;
}

.plyr__video-wrapper{
	background: $brand-color-main;
}
.plyr:-webkit-full-screen {
	background: $brand-color-main;
}

.plyr__poster{
	background: $brand-color-main;
}
.plyr--stopped .plyr__poster {
	opacity: 0;
}

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded=true]{
	background:$brand-color-main;

}

.plyr:-webkit-full-screen{
	z-index:-2 !important
}







//Styling for the P5 overlay.

canvas{
	// z-index: 2147483647; // 300 make 2147483647 for full screen
	position: absolute; 
	top: 0px; 
	left: 0px;
}
#defaultCanvas1{
	// left:67%;
	left:66%

}



.plyr__captions{
	z-index:2147483647;
}

