
/*********************
CANVAS ELEMENT & VIDEO STYLING
*********************/

//P5 Canvas Overlay
canvas{
	position: absolute; 
	top: 0px; 
	left: 0px;
}

//Ensure seriously canvas lies above P5 sketches.
#seriously-canvas{
	z-index:400;
}

//Video Styling 
.container {
	//to position in the middle of screen on mobile
	position:relative;
	width:100%;
	top:2.5rem;
	@include breakpoint(xl) {
		position:relative;
		margin: 0 auto;
		z-index:10;
		top: 100px;
		transition: all .5s ease;
		top: 57%;
		left:0;
		transform: translate(0,-50%);
	}
}
.container.hide{
	@include breakpoint(lg) {
		transition: all .5s ease;

	}
}

video{
	width:100%;
}









@-webkit-keyframes scaling {
From {
    -webkit-transform: scale(1.0);
}
To {
    -webkit-transform: scale(2.0);
}
}
.sketch-webeditor-link{

		border-radius:32px;
	// left: 73.75%;
	position: absolute;
	background-color: rgba(237,34,93,.8);
	border:4px solid white;
	padding:20px 10px;
	z-index: 3000000;
    // background-color: rgba(237,34,93,.5);
    // background-color:orange;
    // top: calc(15px + 6 * ((100vw - 320px) / 680));
    width: 18%;
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
    // font-size: 1.5rem; 
    text-align:center;
    top:15vw;
    // left:72.75%;
    left:9%;
    	// -webkit-animation: scaling 5s infinite alternate;
    a{
    	color:white;
    }

}

.focused{
  //     height: 250px;
  // width: 250px;
  margin: 0 auto;
  // background-color: red;
  animation-name: stretch;
  animation-duration: .3s; 
  animation-timing-function: ease-out; 
  animation-delay: .5s;
  animation-direction: alternate;
  animation-iteration-count: 8;
  animation-fill-mode: none;
  animation-play-state: running;
}


@keyframes stretch {
  0% {
    transform: scale(1);
    background-color: rgba(237,34,93,.9);
    // border-radius:32px;
  }
  50% {
   
    // background-color: rgba(237,34,93,);
  }
  100% {
    transform: scale(1.05);
      background-color: rgba(237,34,93,.9);
      // border-radius:36px;
  }
}



.sketch-download-link{
	// left: 73.75%;
		border-radius:32px;
	position: absolute;
	background-color: rgba(237,34,93,.9);
	border:4px solid white;
	padding:20px 10px;
	z-index: 3000000;
    // background-color: rgba(237,34,93,.5);
    // background-color:orange;
    // top: calc(15px + 6 * ((100vw - 320px) / 680));
    width: 18%;
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
    // font-size: 1.5rem; 
    text-align:center;
    top:30vw;
    // left:72.75%;
    left:9%;
    a{
    	color:white;
    }
}

.sketch-forum-link{
	// left: 73.75%;
		border-radius:32px;
	position: absolute;
	background-color: rgba(237,34,93,.9);
	border:4px solid white;
	padding:20px 10px;
	z-index: 3000000;
    // background-color: rgba(237,34,93,.5);
    // background-color:orange;
    // top: calc(15px + 6 * ((100vw - 320px) / 680));
    width: 18%;
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
    // font-size: 1.5rem; 
    text-align:center;
    top:15vw;
    // left:72.75%;
    right:9%;
    a{
    	color:white;
    }
}
.sketch-community-link {
	// left: 73.75%;
	border-radius:32px;
	position: absolute;
	background-color: rgba(237,34,93,.9);
	border:4px solid white;
	padding:20px 10px;
	z-index: 3000000;
    // background-color: rgba(237,34,93,.5);
    // background-color:orange;
    // top: calc(15px + 6 * ((100vw - 320px) / 680));
    width: 18%;
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
    // font-size: 1.5rem; 
    text-align:center;
    top:30vw;
    // left:72.75%;
    right:9%;
    a{
    	color:white;
    }
}






.p5-single-circle-code-example{
    position: absolute;
    z-index: 3000000;
    background-color: rgba(237,34,93,.5);
    padding:1%;
    font-size: calc(8px + 6 * ((100vw - 320px) / 680)); // This allows the font to scale with the page
    width: 30%;
    top:7%;
    left:65%;
    a{
        color:white;
    }
    ul{
        margin:.1rem;
        padding-left: calc(10px + 6 * ((100vw - 320px) / 680))
    }
    li{
        list-style:none;
    }
    @include breakpoint(lg) {
        top:15%;
    }
}




// Disable the default p5 loading text
#p5_loading{
	display:none;
}



