/*********************
VIDEO CONTAINER & CANVAS STYLING
*********************/

// Container to hold Plyr video & p5 sketches
#sketch-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

//P5 Canvas Overlay
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

video {
  width: 100%;
}

// Prevents the default p5 loading text from appearing
#p5_loading {
  display: none;
}

// Link on bottom of main page to
.sketches-links {
  text-align: right;
  background-color: #ed225d;
  color: #fff;
  right: 0;
  top: 0;
  padding: .2rem 1rem;
  font-size: 0.8rem;
  opacity: 0.95;
  z-index: 2147483647;
}

.sketches-links a {
  color: white;
}

.sketches-links span {
  text-decoration: underline;
}
