
/*********************
CANVAS ELEMENT & VIDEO STYLING
*********************/

//P5 Canvas Overlay
canvas{
	position: absolute; 
	top: 0px; 
	left: 0px;
}

//Ensure seriously canvas lies above P5 sketches.
#videocanvas{
	z-index:400;
}

//Video Styling 
.container {
	//to position in the middle of screen on mobile
	position:relative;
	width:100%;
	@include breakpoint(xl) {
		position:relative;
		margin: 0 auto;
		z-index:10;
		top: 100px;
		transition: all .5s ease;
		top: 50%;
		left:0;
		transform: translate(0,-50%);
	}
}
.container.hide{
	@include breakpoint(lg) {
		transition: all .5s ease;
	}
}

.plyr {
	max-height:100vh;
}

video{
	width:100%;
}


// Change color of plyr controlicons
.plyr__control--overlaid{
	background: $brand-color-main;
	z-index:500;
}
.plyr__control--overlaid:hover{
	background: $brand-color-hover;
}

.plyr__video-wrapper{
	background: $brand-color-main;
}
.plyr:-webkit-full-screen {
	background: $brand-color-main;
}

.plyr__poster{
	background: $brand-color-main;
}

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded=true]{
	background:$brand-color-main;
}


// Ensure plyr controls load above p5 canvas overlay
.plyr__controls {
	z-index:500 !important;
}
.plyr__menu__container{
	z-index:500;
}



// Ensure the captions are above the canvas element
.plyr__captions{
	z-index:2147483647;
}


//Prevent two buffer bars from loading
.plyr__progress__buffer{
	display:none;  
}

//Prevent unnecessary controls from loading
.plyr [data-plyr=fullscreen], .plyr [data-plyr=settings], .plyr [data-plyr=pip], .plyr [data-plyr=airplay]   {
	display:none;

}

.plyr--stopped .plyr__poster {
	opacity: 0;
}



.myClass{
	// left: 73.75%;
    position: absolute;
    z-index: 3000000;
    // background-color: rgba(237,34,93,.5);
    // background-color:orange;
    top: -21rem;
    width: 17%;

    font-size: 1.5rem;
    text-align:center;
    top:17%;
    left:71.75%;
    a{
    	color:white;
    }
}

.myClass2{
	// left: 73.75%;
    position: absolute;
    z-index: 3000000;
    background-color: rgba(237,34,93,.5);
    // background-color:orange;
   
    width: 30%;

    font-size: .9rem;
    // text-align:center;
    top:25%;
    left:65%;

}



#p5_loading{
	display:none;
}



