/*********************
CANVAS ELEMENT & VIDEO STYLING
*********************/

//P5 Canvas Overlay
canvas{
	position: absolute; 
	top: 0px; 
	left: 0px;
}

//Ensure seriously canvas lies above P5 sketches.
#seriously-canvas{
	z-index:400;
}

//Video Styling 
.container {
	//to position in the middle of screen on mobile
	position:relative;
	width:100%;
	top:2.5rem;
	@include breakpoint(xl) {
		position:relative;
		margin: 0 auto;
		z-index:10;
		transition: all .5s ease;
		left:0;
	}
}

.container.hide{
	@include breakpoint(lg) {
		transition: all .5s ease;
	}
}


video{
	width:100%;
}

// Disable the default p5 loading text
#p5_loading{
  display:none;
}

// Pulsing state is used in web editor-link and forum-link sketches to make the div pulse
.pulsing-animation{
  margin: 0 auto;
  animation-name: stretch;
  animation-duration: .3s; 
  animation-timing-function: ease-out; 
  animation-delay: .5s;
  animation-direction: alternate;
  animation-iteration-count: 4;
  animation-fill-mode: none;
  animation-play-state: running;
}

// Animation Keyframes for focused state (used in webeditor-link and forum-link sketches)
@keyframes stretch {
  0% {
    transform: scale(1);
    background-color: rgba(237,34,93,.9);
  }

  100% {
    transform: scale(1.05);
    background-color: rgba(237,34,93,.9);
  }
}

.sketch-pulsing-link-upper{
  font-size: calc(8px + 6 * ((100vw - 320px) / 680));
  top:6vw;
  padding:6px 3px;
  width: 22%;
  right:5%;
  color:white;
  border-radius:32px;
  position: absolute;
  background-color: rgba(237,34,93,.95);
  border:2px solid white;
  z-index: 3000000;
  text-align:center;
  text-decoration:underline;
  right:3%;
  @include breakpoint(sm) {
   padding:10px 5px;
 }
 @include breakpoint(md) {
   width: 18%;
   font-size: calc(15px + 6 * ((100vw - 320px) / 680));
   top:15vw;
   padding:20px 10px;
   border:4px solid white;
   right:9%;
 }

 a{
   color:white;
 }
 &:hover{
  background-color: rgba(237,34,93,.90);
}

}

.sketch-pulsing-link-lower{
  font-size: calc(8px + 6 * ((100vw - 320px) / 680));
  top:20vw;
  padding:6px 3px;
  width: 22%;
  right:3%;
  color:white;
  border:2px solid white;
  border-radius:32px;
  position: absolute;
  background-color: rgba(237,34,93,.95);
  text-decoration:underline;
  z-index: 3000000;
  text-align:center;
  @include breakpoint(sm) {
   padding:10px 5px;
 }
 @include breakpoint(md) {
   width: 18%;
   font-size: calc(15px + 6 * ((100vw - 320px) / 680));
   top:30vw;
   padding:20px 10px;
   border:4px solid white;
   right:9%;
 }
 a{
   color:white;
 }
 &:hover{
  background-color: rgba(237,34,93,.90);
}
}

.p5-single-circle-code-example{
  position: absolute;
  z-index: 3000000;
  background-color: rgba(237,34,93,.7);
  padding:1%;
    font-size: calc(8px + 6 * ((100vw - 320px) / 680)); // This allows the font to scale with the page
    width: 30%;
    top:7%;
    left:65%;
    a{
      color:white;
    }
    ul{
      margin:.1rem;
      padding-left: calc(10px + 6 * ((100vw - 320px) / 680))
    }
    li{
      list-style:none;
    }
    @include breakpoint(lg) {
      top:15%;
    }
  }



  .p5-single-circle-code-example{
    position: absolute;
    z-index: 3000000;
    background-color: rgba(237,34,93,.7);
    padding:1%;
      font-size: calc(8px + 6 * ((100vw - 320px) / 680)); // This allows the font to scale with the page
      width: 30%;
      top:7%;
      left:65%;
      a{
        color:white;
      }
      ul{
        margin:.1rem;
        padding-left: calc(10px + 6 * ((100vw - 320px) / 680))
      }
      li{
        list-style:none;
      }
      @include breakpoint(lg) {
        top:15%;
      }
    }
  

    .p5-sketch-logo {
      position: absolute;
      z-index: 3000000;
      padding:1%;
        font-size: calc(8px + 6 * ((100vw - 320px) / 680)); // This allows the font to scale with the page
        width: 20%;
        margin:0 auto;
        top:30%;
        left:50%;
    }