/*********************
VIDEO CONTAINER & CANVAS STYLING
*********************/

// Container to hold Plyr video & p5 sketches
.container {
	width:100%;
  position:relative;
}

//P5 Canvas Overlay
canvas{
	position: absolute; 
	top: 0px; 
  left: 0px;
  z-index:20;
}

video{
	width:100%;
}

//  Prevents the default p5 loading text from appearing
#p5_loading{
  display:none;
}








