/*********************
FONTS
*********************/

@font-face {
  font-family: 'AvenirNextLTW01-Medium';
  src: url('../assets/fonts/AvenirNextLTW01-Medium.eot?#iefix');
  src:
    url('../assets/fonts/AvenirNextLTW01-Medium.eot?#iefix') format("eot"),
    url('../assets/fonts/AvenirNextLTW01-Medium.woff') format("woff"),
    url('../assets/fonts/AvenirNextLTW01-Medium.ttf') format("truetype"),
    url('../assets/fonts/AvenirNextLTW01-Medium.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80') format("svg");
  font-weight: normal;
  font-style: normal;
}
