// Header Styling

header{	
	display:block;
	// position:fixed;
	width:100%;
	background-color:white;
	justify-content:space-around;
	align-items:center;
	text-align:center;
	top:0;
	transition: all .5s ease;
	z-index:100;
	@include landscape() {
		display:flex;
		height:60px;
		text-align:left;	
		position:absolute;
	}
	@include breakpoint(md) {
		display:flex;
		height:80px;
		text-align:left;
	}


	.logo{
		max-width: 6rem;
		margin:1.5rem auto;
		display:flex;
		@include breakpoint(sm) {
			max-width: 90px;
		}

		@include landscape() {
			max-width:4rem;
			margin:1rem auto;
		}
		@include breakpoint(md) {
			
			max-width: 4rem;
			margin:1rem auto;
		}
		@include breakpoint(lg) {
			
			max-width: 5rem;

		}

	}

	nav{
		display:flex;
		height:100%;
		ul{
			list-style: none;
			margin: 0rem auto 1rem auto;
			padding:0;
			max-width: 19rem;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@include breakpoint(sm) {
				margin:1rem auto;
			}
			@include landscape(){
				max-width:100%;	
				display:flex;
				align-items:center;
			}
			@include breakpoint(md){
				max-width:100%;	
				display:flex;
				align-items:center;
			}



		}

		li{
			font-family: "AvenirNextLTW01-Medium", sans-serif;
			list-style-type:none;	
			display: inline-block;
			color: $brand-color-main;
			margin:0 .2rem 1rem;
			@include landscape() {
				margin:0 .2rem;

			}
			@include breakpoint(md) {
				margin:0 .3rem;

			}
			.language-dropdown{
				color: #242424;
			}
			a, a:link, a:visited, &.language-dropdown {
				color: $brand-color-main;
				text-decoration: none;
				user-select: none;
				font-size: 1rem;
				@include breakpoint(lg) {
					font-size:1.3rem;

				}
			}

			a:active, a:hover, a:focus,.language-link:hover, .language-link:active, .language-link:focus {
				outline:0;
				text-decoration:none;
				padding-bottom:.11em;
				border-bottom:.11em dashed;
				border-bottom-color:$brand-color-main;
			}
			&:nth-child(odd){
				width:5.2rem;
				@include breakpoint(md) {
					width:auto;
				}
				@include landscape() {
					width:auto;
				}
				&:nth-child(3n+1) {
					text-align:left;
				}
				&:nth-child(3n+2) {
					text-align:right;
				}
			}

			&.language-dropdown:active, &.language-dropdown:hover, &.language-dropdown:focus{
				cursor:pointer;

			}
			.language-link{
				margin:.3rem;
				font-size:1rem;
				display:block;
				@include breakpoint(lg) {
				font-size:1.3rem;

			}
			}


		}

		.hide-on-mobile{
			display:none;
			@include breakpoint(md) {
				display:inline-block;

			}
		}

	}
	#navigation-es{
		display:none;
	}


}



///The .hide class is added to the header when the play button is clicked, this makes the header shrink on play 

header.hide{

	@include landscape(){
		height:30px;
		transition: all .5s ease;
		.logo{
			max-width: 3rem;
			transition: all .5s ease;
			margin:0 auto;

			
		}

	}
	@include breakpoint(xl) {
		height:50px;
		.logo{
			max-width: 4rem;
			transition: all .5s ease;
		}
		#menu li a:link, #menu li a:visited, .language-link{
			font-size: 1.1em;
		}
	}
}

header.hide.active{
	@include breakpoint(xl) {
		top:0;
	}
}


  .language-list-container{
    width:100% !important;
    margin:0 auto;
    @include breakpoint(md) {
    	width:auto !important;
    }	
  }


  .language-list{
    display:flex;
    flex-wrap:wrap;
    width:200px;
    text-align:center;
    margin:0 auto;
        @include breakpoint(md) {
    	// display:inline-block;
    	width:120px !important
    }	
            @include breakpoint(lg) {
    	// display:inline-block;
    	width:140px !important
    }	
  }

  .language-link {
    width:auto !important;

  }

  .language-link:hover {
    width:auto !important;
    cursor:pointer;
  }



