// Header Styling

header{
	display:flex;
	width:100%;
	background-color:white;
	justify-content:space-around;
	text-align:center;
	
	line-height:50px;
	position:fixed;
	top:0;
	transition: all .5s ease;
	z-index:100;
	@include breakpoint(lg) {

		height:100px;
	}
	
}



header.hide{
	// position:fixed;
	@include breakpoint(lg) {
		height:50px;
		img{
			max-height:40px;
			transition: all .5s ease;

		}
		#menu li a:link, #menu li a:visited {
			transition: all .5s ease;
			font-size: 1.1em;
		}
	}
}

header.hide.active{
	@include breakpoint(lg) {
	top:0;
}
}

.wrapper{
	padding:0 15px 15px;
	box-sizing: border-box;
	text-align:left;
	width:700px;
	margin:70px auto 0;
}




header img{
	display:inline-block;
	max-width: 30%;
	margin:0 auto;
	
}

nav{
	display:flex;
	ul{
		align-self:center;
		padding:0;
		margin:0 auto;
	}
	li{
		font-family: "AvenirNextLTW01-Medium", sans-serif;
		list-style-type:none;	
		
		color: $brand-color-main;
		@include breakpoint(lg) {
			display: inline-block;
		}
		
	}
}


nav.desktop-nav{
	display:none;
}

nav.mobile-nav{
	text-align:center;
}

#menu.topmenu{
	list-style: none;
	font-family: AvenirNextLTW01-Medium;
	width: 100%;
	margin: 0 0 1em;
	padding: 0;
	height: 100%;
	font-size: 1.3em;
}

#menu li a:link, #menu li a:visited {
	color: $brand-color-main;
	text-decoration: none;
	user-select: none;
	font-size: 1.3em;
	transition: all .5s ease;
}






//header media query




@media (orientation: landscape) {
	body{
		display:block;
	}
	nav.desktop-nav{
		display:flex;
	}

	nav.mobile-nav{
		display:none;
	}

	header img{
		display:inline-block;
		max-width: 45%;
		transition: all .5s ease;
		max-height:100%;
		margin: 1rem ;
	}
}



