/*********************
HEADER STYLING
*********************/

header{	
	display:block;
	width:100%;
	background-color:$background-color-main;
	justify-content:space-around;
	align-items:center;
	text-align:center;
	top:0;
	transition: all .5s ease;
	z-index:1000;
	@include breakpoint(md) {
		display:flex;
		height:5rem;
		text-align:left;	
		position:absolute;
	}
	.logo{
		max-width: 6rem;
		margin:1.5rem auto;
		display:flex;
		@include breakpoint(sm) {
			max-width: 5.63rem;
		}
		@include breakpoint(md) {
			max-width:4rem;
			margin:1rem auto;
		}
		@include breakpoint(lg) {
			max-width: 5rem;
		}
	}
	
	nav{
		display:flex;
		height:100%;
		ul{
			list-style: none;
			margin: 0rem auto 1rem auto;
			padding:0;
			max-width: 19rem;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@include breakpoint(sm) {
				margin:.5rem auto;
			}
			@include breakpoint(md){
				flex-wrap: none;
				max-width:100%;	
				display:flex;
				align-items:center;
			}
		}
		li{
			font-family: "AvenirNextLTW01-Medium", sans-serif;
			list-style-type:none;	
			display: inline-block;
			color: $brand-color-main;
			margin:0 .2rem 1rem;
			@include breakpoint(md) {
				margin:0 .3rem;
			}
			//nth-child classes style nav menu into grid on mobile 
			&:nth-child(odd){
				width:5.2rem;
				@include breakpoint(md) {
					width:auto;
				}
				&:nth-child(3n+1) {
					text-align:left;
				}
				&:nth-child(3n+2) {
					text-align:right;
				}
			}
			// Used to style ES/EN/FR in nav as though they are a link, required because they are not <a> elements
			&.language-link{
				margin:.3rem;
				font-size:1rem;
				display:block;
				width:auto;
				@include breakpoint(md) {
					height:1.7rem;
				}
				@include breakpoint(lg) {
					font-size:1.3rem;
					width:auto !important;
				}
				&:hover {
					width:auto !important;
					cursor:pointer;
				}
			}
		}

		.language-list-container{
			width:100% !important;
			margin:0 auto;
			@include breakpoint(md) {
				width:auto !important;
			}	
		}

		.language-list{
			display:flex;
			flex-wrap:wrap;
			width:12.5rem;
			text-align:center;
			margin:0 auto;

			@include breakpoint(md) {
				width:7.5rem!important;
			}	
			@include breakpoint(lg) {
				width:8.75rem!important;
			}
		}

		//Hide-On-Mobile class is used to hide some asterisk separators from the header
		.hide-on-mobile{
			display:none;
			@include breakpoint(md) {
				display:inline-block;
			}
		}
		a, a:link, a:visited {
			color: $brand-color-main;
			text-decoration: none;
			user-select: none;
			font-size: 1rem;
			@include breakpoint(lg) {
				font-size:1.3rem;
			}
		}
		a:active, a:hover, a:focus,.language-link:hover, .language-link:active, .language-link:focus {
			outline:0;
			text-decoration:none;
			padding-bottom:.11rem;
			border-bottom:.11rem dashed;
			border-bottom-color:$brand-color-main;
		}
	}

	///The .shrink class is added to the header when the video starts playing, it makes the header shrink on play 
	&.shrink{
		@include breakpoint(md){
			height:2.5rem;
			transition: height .5s ease;
		}
		@include breakpoint(xl) {
			height:3.13rem;
		}
		.logo{
			@include breakpoint(md){
				max-width: 3rem;
				margin:0 auto;	
				transition: height .5s ease, margin .5 ease;	
			}
			@include breakpoint(xl) {
				max-width: 4rem;
			}	
		}
		#menu li a:link, #menu li a:visited, .language-link{
			@include breakpoint(md){
				font-size: 1.1em;
				transition: font-size .5s ease, height .5s ease;	
			}
		}
		.language-link {
			@include breakpoint(md) {
				height:1.5rem;
			}
		}
	}
}

// Header text doesn't fit properly in french, this styling reduced french font size so the text fits
.french{
	a, a:link, a:visited, .language-link{
		font-size: .8rem;
		@include breakpoint(md) {
			font-size:.9rem;
		}
		@include breakpoint(lg) {
			font-size:1.3rem;
		}
	}
}