// Header Styling

header{	
	display:block;
	position:fixed;
	width:100%;
	background-color:white;
	justify-content:space-around;
	align-items:center;
	text-align:center;
	top:0;
	transition: all .5s ease;
	z-index:100;

	@include breakpoint(md) {
		display:flex;
		height:100px;
		text-align:left;
	}
	.logo{
		max-width: 80px;
		margin:2rem auto;
		@include breakpoint(sm) {
			max-width: 90px;
		}
		@include breakpoint(md) {
			margin:1rem auto;	
			max-width: 30%;
		}
	}

	nav{
		display:flex;
		ul{
			list-style: none;

			padding:0;
			margin: 0 auto 1rem auto;
			max-width: 19rem;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@include breakpoint(md) {
				max-width:100%;	
				margin: 1rem 0;
				display:flex;
				align-items:center;
			}
		}

		li{
			font-family: "AvenirNextLTW01-Medium", sans-serif;
			list-style-type:none;	
			display: inline-block;
			color: $brand-color-main;
			margin:0 .2rem 1rem;
			a, a:link, a:visited{
				color: $brand-color-main;
				text-decoration: none;
				user-select: none;
				font-size: 1rem;

				// transition: all .5s ease;
				@include breakpoint(lg) {
					font-size:1.3rem;

				}
			}

			a:active, a:hover, a:focus{
				outline:0;
				text-decoration:none;
				padding-bottom:.11em;
				border-bottom:.11em dashed;
				border-bottom-color:$brand-color-main;
			}
			&:nth-child(odd){
				width:5.2rem;
				@include breakpoint(md) {
				width:auto;
				}
				&:nth-child(3n+1) {
			    text-align:left;
	}
				&:nth-child(3n+2) {
			    text-align:right;
			}
			}

		}

		.hide-on-mobile{
			display:none;
			@include breakpoint(md) {
				display:inline-block;

			}
		}

	}


}



///The .hide class is added to the header when the play button is clicked, this makes the header shrink on play 

header.hide{
	@include breakpoint(xl) {
		height:50px;
		.logo{
			max-height:80px;
			transition: all .5s ease;
		}
		#menu li a:link, #menu li a:visited {
			transition: all .5s ease;
			font-size: 1.1em;
		}
	}
}

header.hide.active{
	@include breakpoint(xl) {
		top:0;
	}
}







