/*********************
Links Page Styling (sketch thumbnails)
*********************/

// Link on main page to sketch examples
.sketches-links {
  text-align: center;
  background-color: $brand-color-main;
  color: #fff;
  right: 0;
  top: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  opacity: 0.95;
  transition: all .3s ease;
  // height: 2.5rem;
}

.sketches-links:hover {
  background-color: $brand-color-hover;
}

.sketches-links a {
  color: white;
  text-decoration:none;
}

.sketches-links span {
  text-decoration: underline;
  // margin: 0 50px;
}

#links-visible span,
#links-hidden span {
  cursor: pointer;
}


.sketch-link-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;
  opacity: 0.95;
}

.sketch-link-item {
  max-width: 40%;
  margin: 0.5rem;
  padding: 0.2rem;
  transition: transform 0.5s ease;
  text-align: center;
  text-decoration: none;
}

.sketch-link-item img {
  width: 100%;
}

.sketch-link-item h3 {
  margin: 0;
  font-size: 0.8rem;
  background-color: $background-color-main;
}

.sketch-link-item a,
.sketch-link-item a:visited {
  color: $brand-color-main;
}

.sketch-link-item:hover,
.sketch-link-item:active {
  background-color: $brand-color-hover;
  transform: scale(1.05);

  h3 {
    background-color: $brand-color-main;
  }
}

.sketch-link-item:hover a,
.sketch-link-item:active a {
  color: $background-color-main;
}

@include breakpoint(sm) {
  .sketch-link-item {
    max-width: 30%;
  }

  .sketch-link-item h3 {
    font-size: 1rem;
  }
}

@include breakpoint(md) {
  .sketch-link-item {
    max-width: 20%;
  }
}

@include breakpoint(lg) {
  .sketch-link-item {
    max-width: 15%;
  }
}

body.links {
  height: auto;
}
