


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top:60%;
    border-radius: 50%;
    border: 3px solid transparent; 

    @include breakpoint(lg){
        top: 40%;
	}
}
#loader-svg{
    animation: spin-loader 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */   
     margin: -100px 0 0 -100px;

     width: 200px;
     height: 50px;
}

 



@keyframes spin-loader {
    0%   {
    transform: translate(-50%, 0)scale(0) rotate(0);  /* Firefox 16+, IE 10+, Opera */
    }

    45% {
        transform: translate(-5%, 0%) scale(.95) rotate(80deg);  /* Firefox 16+, IE 10+, Opera */

    }

    50% {
        transform: translate(0%, 0%) scale(1) rotate(130deg);  /* Firefox 16+, IE 10+, Opera */
    }

    55% {
        transform: translate(5%, 0%) scale(.95) rotate(200deg);  /* Firefox 16+, IE 10+, Opera */

    }
    100% {
        transform: translate(50%, 0) scale(0) rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}


// loading animation
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: $brand-color-main;
    z-index: 2147483646 !important;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 

#loader {
    z-index: 2147483647 !important; /* anything higher than z-index: 1000 of .loader-section */
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left, .loaded #loader-wrapper  .loader-section.section-right{
    -webkit-transform: translate(0%, 100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translate(0%, 100%);  /* IE 9 */
    transform: translate(0, 100%);  /* Firefox 16+, IE 10+, Opera */
}
 

.loaded #loader {
    opacity: 0;
}

// hide icon 
.loaded #loader-wrapper {
    visibility: hidden;
}

// fade out of icon 
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}

// speed the background leaves
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all .3s ease-out; 
            transition: all .3s ease-out;
}

