/*********************
CSS LOADING ANIMATION STYLING
*********************/


/********************* While loading *********************/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top:60%;
    border-radius: 50%;
    border: 3px solid transparent; 
}

// loading animation
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: $brand-color-main;
    z-index: 2147483646 !important;
}
 
#loader-wrapper .loader-section{
    left: 0;
}
 

#loader {
    z-index: 2147483647 !important; /* anything higher than z-index: 1000 of .loader-section */
}

#loader-svg{
    animation: animate-icon 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */   
     margin: -100px 0 0 -100px;
     width: 200px;
     height: 50px;
}

@include breakpoint(lg){
    #loader {
    top: 40%;
    }
}

@keyframes animate-icon {
    0%   {
    transform: translate(-50%, 0)scale(0) rotate(0); 
    opacity:0;
    }

    45% {
        transform: translate(-5%, 0%) scale(.95) rotate(80deg);    opacity:1;
    }

    50% {
        transform: translate(0%, 0%) scale(1) rotate(130deg);  opacity:1;
    }

    55% {
        transform: translate(5%, 0%) scale(.95) rotate(200deg);  opacity:1;

    }
    100% {
        transform: translate(50%, 0) scale(0) rotate(360deg);  opacity:0;
    }
}


/********************* After Load *********************/
.loaded #loader-wrapper .loader-section{
    transform: translate(0, 100%);  
}

.loaded #loader {
    opacity: 0;
}

// hide icon 
.loaded #loader-wrapper {
    visibility: hidden;
}

// fade out of icon 
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}

// speed the background leaves
.loaded #loader-wrapper .loader-section {
    -webkit-transition: all .3s ease-out; 
            transition: all .3s ease-out;
}