/*********************
P5-DOM SKETCHES CSS STYLING
*********************/

/********************* La Monster *********************/

// add space between end of screen and La Monster canvas
.la-monster-sketch{
  top:4vw;
  left:3vw;
}

/********************* Single Circle *********************/

// Styling for single circle text box

.p5-single-circle-code-example{
  position: absolute;
  z-index: 3000000;
  background-color: rgba(237,34,93,.7);
  padding:1%;
  font-size: calc(8px + 6 * ((100vw - 320px) / 680)); // This allows the font to scale with the page
  width: 30%;
  top:7%;
  left:65%;
}
.p5-single-circle-code-example a{
  color: $background-color-main;
}
.p5-single-circle-code-example ul{
  margin:.1rem;
  padding-left: calc(10px + 6 * ((100vw - 320px) / 680))
}
.p5-single-circle-code-example li{
  list-style:none;
}

@include breakpoint(lg) {
  .p5-single-circle-code-example{
    top:15%;
  }
}

/********************* Webeditor-Link && Forum Link *********************/

// Styling for the links that slide in 



.sketch-link{
  text-align:center;
 
  // right:-10%;
//  left:100%;
right:0;
  font-size: 3.2vw;
  top:2vw;
  padding:5vw .8vw;
  // transition: all .5s ease;
  width: 30%;
  color:white;
  border-radius:3px;
  position: absolute;
  background-color: rgba(237,34,93,.95);
  border:2px solid $background-color-main;
  z-index: 3000000;
  transition:all 2s ease;
  // transform: translate(-100%, 0)
  // line-height:3.3vw;
}
.sketch-link span{
  text-decoration:underline;
}

.sketch-link a{
  color: $background-color-main;
}

.sketch-link:hover{
  background-color: rgba(237,34,93, 0.80);
  font-size: 3.3vw;
}  

.sketch-link-upper{
  top: 10vw;
  // top:0;
}

.sketch-link-lower{
  top: 20vw;
}

@include breakpoint(md) {
  .sketch-link{
    width: 25%;
    font-size:1.8vw;
    top:3vw;
    padding:2vw 1vw;
    height: 380px;
    border:4px solid $background-color-main;
    // left:0;
    line-height:2vw;
   
    // transform: translate(100%, 0)
  }
  
  .sketch-link:hover{
    font-size:1.85vw;
  }
  
  .sketch-link-upper{
    top:3vw;
  }
  
  .sketch-link-lower{
    top:11vw;
  }
}

.sketch-link-animation{
  animation-name: slide-in;
  animation-duration: .3s; 
  animation-timing-function: ease-out; 
  animation-iteration-count: 1;
}


@keyframes slide-in {
  0% {
    transform: translate(100%, 0);
 
  }
  100% {
    transform: translate(0%, 0)
    

  }
}

.test2{
  width:100%;
  // height: 380px;
}

.container{
  overflow:hidden;
}
/********************* Circle Explosion*********************/

// Layout for logo in circle-explosion sketch
.p5-sketch-logo-parent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.p5-sketch-logo {
  position: absolute;
  top:35%;
  max-width:30%;
  text-align:center;
  z-index: 3000000;
  
}

@include breakpoint(md) {
  .p5-sketch-logo {
    max-width:100%;
  }
}


/********************* Credits *********************/

// Credits Styling

.credits-wrapper {
  position: absolute;
  top: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $background-color-main;
  animation: 30s credits linear ;
  width: 80%;
  margin:0 auto;
  animation-iteration-count: 1;
}

.credits-title {
  margin-top:2vw;
  margin-bottom: .1vw;
  font-size: 2vw;
}

.credits-name {
  margin-bottom: .75vw;
  font-size: 2.75vw;
}

.paused{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused; 
  animation-play-state:paused;
}

@keyframes credits {
  0% { top:  100%; }
  100% { top: -500%; }
}

