/*********************
VARIABLES
*********************/

$brand-color-main: #ed225d; // Hot Pink
$brand-color-hover: rgba(237, 34, 93, .9); // Slightly transparent hot pink
$background-color-main: #fff; //White
$brand-font: "AvenirNextLTW01-Medium", sans-serif;
