/*********************
VARIABLES
*********************/

$brand-color-main: rgb(237, 34, 93); // Hot Pink
$brand-color-hover: rgba(237, 34, 93, 0.7); // Slightly transparent hot pink
$background-color-main: rgb(255, 255, 255); //White
$brand-font: "AvenirNextLTW01-Medium", sans-serif;
