// Prevent default html video controls from showing
video::-webkit-media-controls {
  display: none;
}

@import 'partials/normalize';
@import 'partials/plyr_base';
@import 'partials/variables';
@import 'partials/breakpoints';
@import 'partials/plyr_custom';
@import 'partials/fonts';
@import 'partials/base';
@import 'partials/header';
@import 'partials/canvas';

