@import 'normalize';
@import 'fonts';
@import 'variables';

 

body {
  background-color: $background-color-main;
  font-family: "inconsolatamedium", sans-serif;
}

img{
	max-width: 50%;
	margin:1rem 0;
}

h1{
	font-family: "AvenirNextLTW01-Medium", sans-serif;
	color: $brand-color-main;
}


header{
	display:flex;
	width:100%;
	justify-content:space-around;
	
}
header img{
	display:inline-block;
}

nav{
	display:flex;
	ul{
		align-self:center;
	}
	li{
		font-family: "AvenirNextLTW01-Medium", sans-serif;
		list-style-type:none;	
		display: inline-block;
		color: $brand-color-main;
	}
	
}




/* This is for the plyr demo */
.container {
  margin: 0 auto;
  z-index:10;
  position:relative;
}
.plyr {
  border-radius: 4px;
  margin-bottom: 15px;
  z-index:10;
}

video{
	width:100%;
}

.plyr__control--overlaid{
	background: $brand-color-main;
	z-index:500;
}

// this is for the sketch

// .p5Canvas{
//    position:absolute;
//     // top: 0;
//     // left: 0;
//     z-index: 0;
// }

canvas{
 z-index: 300;
	position: absolute; 
	top: 0px; 
	left: 0px;
}