@import 'partials/normalize';
@import 'partials/plyr_base';
@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/breakpoints';
@import 'partials/base';
@import 'partials/header';
@import 'partials/plyr_custom';
@import 'partials/canvas';










